@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.panorama-image {
  width: 100%;
  height: 100vh;
}

#desc-container {
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;
  min-height: 250px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#desc-container>iframe {
  border: none;
  width: 100%;
}

.title {
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8)
}

.text {
  padding: 10px;
  background-color: rgba(230, 230, 230, 0.95);
  font-size: 1.15rem;
}

.text-list {
  padding: 10px 10px 10px 50px;
  background-color: rgba(230, 230, 230, 0.95);
  font-size: 1.15rem;
}

.infospot {
  width: 400px;
  position: relative;
  display: none;
}

.infospot.show {
  display: block;
}

.toggle-wrapper {
  padding: 1rem;
  background: rgba(112, 128, 144, 0.9);
  color: rgb(209, 217, 226);
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  overflow: auto;
  transition: 1s;
  cursor: pointer;
  -webkit-overflow-scrolling: touch;
}

.content-infospot {
  position: absolute;
  top: 1rem*2;
  width: 100%;
  max-height: 300px;
  padding: .8rem;
  background: rgba(112, 128, 144, 0.5);
  border-top: 2px solid slategray;
  border-radius: 0 0 15px 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  display: none;
  transform: translateY(-80px);
  opacity: 0;
  transition: .5s;
  z-index: -1;
}

.content-infospot.show {
  transform: translateY(0);
  opacity: 1;
}


.content-wrapper {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.content-wrapper.other {
  margin-top: 5px;
}

.content-wrapper>img {
  width: 100%;
  border-radius: 0 0 7px 7px;
  cursor: pointer;
}


/* Image Viewer */
.image-viewer-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);

  opacity: 0;
  transition: .3s;
}

.image-viewer-overlay.show {
  opacity: 1;
}

.image-viewer-overlay .content {
  display: flex;
  max-width: 85%;
  max-height: 100%;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

.image-viewer-overlay .content img {
  width: 100%;
}

/* Progress Loading */
#progress {
  width: 0;
  height: 5px;
  position: fixed;
  top: 0;
  background: #fff;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#progress.finish {
  opacity: 0;
}

/* Navigation Menu */
.menu-navigation {
  background-color: rgba(141, 141, 141, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 11px;
}

.menu-navigation .navigation-title {
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  font-size: 1.25rem;
}

/* Hamburger Nav Icon */
.nav-icon-wrapper,
#nav-icon,
#nav-icon span {
  margin: 0;
  padding: 0;
}

.nav-icon-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgb(138, 132, 132);
  border-radius: 3px;
  padding: 5px;
  transition: .25s;
}

.nav-icon-wrapper:hover {
  background-color: rgb(160, 154, 154);
}

#nav-icon {
  width: 35px;
  height: 20px;
  /* background-color: aqua; */
  position: relative;
  margin: 2px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
}

#nav-icon span:nth-child(3) {
  top: 20px;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* End of Hamburger Nav Icon */


/* Menu List Item */
.menu-list {
  position: absolute;
  left: 0;
  top: 45px;

  background-color: rgba(141, 141, 141, 0.9);
  color: white;
  font-weight: 500;
  font-size: 1.15rem;

  transform: translateX(-100%);
  transition: .25s;
}

.menu-list.show {
  transform: translateX(0);
}

.menu-item {
  border-top: 1px solid lightgray;
  padding: 5px;
  cursor: pointer;
  transition: .25s;
}

.menu-item.active {
  background-color: rgb(82, 82, 82);
  border-top: 1px solid transparent;
}

.menu-item.active+.menu-item {
  border-top: 1px solid transparent;
}

.menu-item:hover {
  background-color: aliceblue;
  color: rgb(72, 74, 75);
}

/* End of Menu List Item */


/* End of Navigation Menu */